@import "_variables";
@import "_mixins";
@import "_reset";
@import "_ui";
@import "_forms";
@import "_popup";
@import "_fonts";
@import "header";


//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap&subset=cyrillic-ext");

//</Подключаем шрифты>=======================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {}
}

body.lock {
	overflow: hidden;
}

//sticky
.content {
	flex: 1 1 auto;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%; 
	padding: 0 15px;
	@media (max-width: $md3+px){
	   padding: 0px 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНОЙ БЛОК>===========================================================================================================

// HEADER =========================================================



//</ОСНОВНОЙ БЛОК>===========================================================================================================